themes {
	gruvbox-dark {
		fg "#D5C4A1"
		bg "#282828"
		black "#3C3836"
		red "#CC241D"
		green "#98971A"
		yellow "#D79921"
		blue "#3C8588"
		magenta "#B16286"
		cyan "#689D6A"
		white "#FBF1C7"
		orange "#D65D0E"
	}

	ayu-mirage {
		fg "#CCCAC2"
		bg "#242936"
		black "#1F2430"
		red "#FF6666"
		green "#87D96C"
		yellow "#FFCC66"
		blue "#80BFFF"
		magenta "#DFBFFF"
		cyan "#D5FF80"
		white "#B8CFE6"
		orange "#FFAD66"
		pink "#F28779"
	}
}
